* {
  margin: 0;
  padding: 0;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh; /* at least fill browser viewport height */
  background: rgba(0, 0, 0, 0.05);
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  color: #000000;
  font-family: "Crete Round", Georgia, serif;
  font-size: 36px;
  line-height: 1.5;
  margin: 10px auto;
}

h3 {
  color: #000000;
  font-family: "Crete Round", Georgia, serif;
  font-size: 22px;
  line-height: 1.5;
  margin: 10px auto;
}

div.paragraph,
p,
.para {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  text-align: justify;
  color: #515151;
  margin: 0 auto;
}

div.paragraph a,
p a,
.para a {
  color: inherit;
  font-weight: 550;
  text-decoration: underline;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

div.paragraph a:hover,
p a:hover,
.para a:hover {
  opacity: 0.75;
}

div.paragraph li,
.para li {
  text-indent: 0;
}

p li,
.para li {
  text-indent: 0;
}

blockquote {
  position: relative;
  padding: 1.5em 2.5em;
  background: rgba(0, 0, 0, 0.05);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  text-align: left;
  margin: 0px auto 30px;
}

blockquote:before {
  position: absolute;
  content: '\201C';
  top: 0.75em;
  left: 0.5em;
  font-size: 2em;
  line-height: 1;
  font-weight: bold;
}

.logo {
  font-family: "Crete Round", Georgia, serif;
  font-size: 40px;
}
.para {
  text-indent: 30px;
}

.float-right {
  margin: 15px;
  margin-right: 0;
  float: right;
}

.float-left {
  margin: 15px;
  margin-left: 0;
  float: left;
}

.columns {
  display: flex;
}

.half-column {
  flex: 50%;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

aside {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  margin: 20px;
}

#headshot {
  width: 65%;
  display: block;
  margin: auto;
}

#warrior-strong {
  width: 25%;
}

#mask-wearing {
  width: 45%;
}

#cso-flyer {
  width: 25%;
}

#lesson-video {
  width: 50%;
}

.video-caption {
  text-align: center;
  margin-bottom: 5px;
}

figcaption {
  text-align: center;
  font-size: 90%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.splash-page .wsite-background,
.wsite-header-section {
  height: 200px;
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;
}

#splash { /* used on home page */
  min-height: 100vh; /* at least fill browser viewport height */
  height: 100%;
  background-image: url(images/splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  border-top: 1px solid whitesmoke;
  margin: 0;
  color: whitesmoke;
  text-align: center;
  font-size: 150%;
}

.banner-wrap {
  position: relative;
  height: 100%;
  background: #000000;
  color: #ffffff;
}

.banner-wrap .container {
  padding: 80px 40px;
}

.banner-wrap .banner {
  text-align: center;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.banner-wrap h2 {
  color: inherit;
  font-family: "Crete Round", Georgia, serif;
  font-size: 80px;
  font-weight: 100;
  line-height: 1.15;
  margin: 15px auto;
}

.banner-wrap div.paragraph {
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.15em;
  margin: 15px auto;
}

.banner-wrap p {
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.15em;
  margin: 15px auto;
}

.container,
.wsite-footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  width: 100%;
  background: #ffffff;
}

main .container {
  padding: 30px 30px;
  max-width: 1200px;
}

.footer-wrap {
  width: 100%;
  font-size: 14px;
}

.footer-wrap .wsite-footer {
  padding: 60px 40px;
}

.footer-wrap h2,
.footer-wrap div.paragraph,
.footer-wrap blockquote {
  margin: 0 auto 20px;
}

.footer-wrap h2,
.footer-wrap p,
.footer-wrap blockquote {
  margin: 0 auto 20px;
}

.footer-wrap h2 {
  font-size: 20px;
}

.footer-wrap div.paragraph {
  font-size: 14px;
}

.footer-wrap p {
  font-size: 14px;
}

.footer-wrap blockquote {
  font-size: 14px;
  background: transparent;
  padding: 0 0 0 1em;
}

.footer-wrap blockquote:before {
  top: 0;
  left: 0;
  font-size: 1.5em;
}

.birdseye-header {
  position: fixed;
  top: 0;
  z-index: 12;
  width: 100%;
  max-width: 100%;
  padding: 20px 40px;
  color: #ffffff;
  border-color: #ffffff;
  box-sizing: border-box;
  -webkit-transition: background-color 300ms ease, color 260ms ease, padding 180ms ease;
  -moz-transition: background-color 300ms ease, color 260ms ease, padding 180ms ease;
  -ms-transition: background-color 300ms ease, color 260ms ease, padding 180ms ease;
  transition: background-color 300ms ease, color 260ms ease, padding 180ms ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.birdseye-header .container {
  display: table;
  /*overflow-y: hidden;*/
  width: 100%;
  max-height: 80px;
}

.birdseye-header .hamburger {
  display: none;
}

.birdseye-header {
  display: table-cell;
  /*overflow-y: hidden;*/
  vertical-align: middle;
}

.birdseye-header a {
  /*margin-right: 30px;*/
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.birdseye-header .logo a:hover {
  opacity: .6;
}

.birdseye-header #wsite-title {
  max-width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  -webkit-transition: font-size 260ms ease;
  -moz-transition: font-size 260ms ease;
  -ms-transition: font-size 260ms ease;
  transition: font-size 260ms ease;
}

nav {
  display: table-cell;
  vertical-align: middle;
}

nav ul {
  float: right;
  max-width: calc(100vw - 480px);
  overflow: hidden;
}

nav li {
  display: inline-block;
  margin: 5px 5px 5px 0;
}

nav a {
  display: block;
  padding: 12px 10px;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -ms-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

nav li a:hover {
  opacity: 0.6;
}

.desktop-nav .submenu { /*TODO: remove desktop-nav */
  display: none;
  position: absolute;
  color: black;
  background: white;
  box-shadow: inset 0px 0px 0px 1px;
}

.submenu li {
  display: block;
  margin: 0;
}
.submenu a {
  font-size: 12.5px;
  font-weight: normal;
}
.submenu a:hover {
  opacity: 1;
  color: black; /* overriding other nav links */
  background: rgba(0, 0, 0, 0.1);
}

.desktop-nav .has-submenu:hover .submenu {
  display: block;
}

.mobile-nav {
  display: none;
}

body.affix .birdseye-header {
  position: fixed;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 10px 40px;
}

body.affix .birdseye-header,
body.no-header-page .birdseye-header,
body.splash-banner-page .birdseye-header {
  background: #ffffff;
  color: #000000;
  border-color: #000000;
}

body.affix .birdseye-header .hamburger span,
body.affix .birdseye-header .hamburger span:before,
body.affix .birdseye-header .hamburger span:after,
body.no-header-page .birdseye-header .hamburger span,
body.no-header-page .birdseye-header .hamburger span:before,
body.no-header-page .birdseye-header .hamburger span:after,
body.splash-banner-page .birdseye-header .hamburger span,
body.splash-banner-page .birdseye-header .hamburger span:before,
body.splash-banner-page .birdseye-header .hamburger span:after {
  background: #000000;
}


body.wsite-checkout-page .birdseye-header,
body.wsite-native-mobile-editor .birdseye-header {
  position: absolute !important;
}

body.splash-page .banner-wrap {
  display: table;
  width: 100%;
  height: 100vh;
}

body.splash-page .banner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

body.splash-page .footer-wrap {
  display: none;
}

body.splash-page .banner {
  display: none;
}

body.splash-page .birdseye-header {
  top: calc(50% - 132px);
  padding: 40px 80px;
  background: #ffffff;
  color: #000000;
  border-color: #000000;
}

body.splash-page .birdseye-header .container {
  height: 185px;
  max-height: none;
}

body.splash-page .birdseye-header .logo #wsite-title {
  font-size: 50px;
}

body.splash-page .birdseye-header .wsite-phone {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
}

body.splash-page.alt-nav-on .birdseye-header {
  background: #000000;
  color: #ffffff;
  border-color: #ffffff;
}

body.splash-page.alt-nav-on .birdseye-header .wsite-phone {
  color: rgba(255, 255, 255, 0.6);
}

 ::-webkit-input-placeholder,
 :-moz-placeholder,
 ::-moz-placeholder,
 :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

form label {
  display: block;
  margin: 10px 0;
}

.form-required {
  color: red;
}

form input,
form textarea,
form select {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 0;
  background: transparent;
  width: 100%;
  max-width: 400px;
  transition: all 300ms ease;
}

form textarea {
  height: 150px;
}

form #submit-button {
  width: 100px;
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: black;
  outline: none;
}

.wsite-button {
  display: inline-block;
  height: auto;
  padding: 0;
  background-image: none;
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.wsite-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.wsite-button .wsite-button-inner {
  display: inline-block;
  height: auto;
  padding: 14px 30px;
  background: transparent;
  background-image: none;
  color: inherit;
  letter-spacing: 0.03em;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.wsite-button-large {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.wsite-button-large:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 992px) {
  #headshot {
    width: 90%;
  }
  font[size="1"] {
    font-size: 50% !important;
  }
  font[size="2"] {
    font-size: 75% !important;
  }
  font[size="3"] {
    font-size: 125% !important;
  }
  font[size="4"] {
    font-size: 150% !important;
  }
  font[size="5"] {
    font-size: 175% !important;
  }
  font[size="6"] {
    font-size: 200% !important;
  }
  font[size="7"] {
    font-size: 250% !important;
  }
  .container,
  .wsite-footer {
    overflow: hidden;
  }
  .birdseye-header {
    top: 0;
    left: 0;
    padding: 5px 20px !important;
    min-height: 50px;
  }
  .birdseye-header .birdseye-header,
  .birdseye-header .container {
    min-height: 40px;
    max-height: inherit;
  }
  .birdseye-header label.hamburger {
    display: table-cell;
    vertical-align: middle;
  }
  body.nav-open .mobile-nav {
    padding: 50px 0;
    max-height: 100vh;
  }
  body.nav-open .birdseye-header label.hamburger span {
    position: relative;
    background: transparent;
  }
  body.nav-open .birdseye-header label.hamburger span:before {
    top: 1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  body.nav-open .birdseye-header label.hamburger span:after {
    top: -1px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  body.splash-page.nav-open .wrapper main {
    position: relative;
  }
  label.hamburger {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  label.hamburger span,
  label.hamburger span:before,
  label.hamburger span:after {
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;
    content: '';
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  label.hamburger span {
    top: 9px;
    left: 4px;
    margin: 5px 0;
  }
  label.hamburger span:before {
    top: -8px;
  }
  label.hamburger span:after {
    bottom: -6px;
  }
  
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    max-height: 0;
    padding: 0;
    background: #ffffff;
    box-sizing: border-box;
    -webkit-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
    -moz-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
    -ms-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
    transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
  }
  .mobile-nav label.hamburger {
    top: 0;
    right: 10px;
  }
  .mobile-nav label.hamburger span {
    background: transparent;
  }
  .mobile-nav label.hamburger span:before {
    top: 1px;
    background: #000000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .mobile-nav label.hamburger span:after {
    top: -1px;
    background: #000000;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .mobile-nav ul {
    float: none;
    height: auto;
    max-width: none;
  }
  .mobile-nav li {
    position: relative;
    display: block !important;
    margin: 0;
    border: none;
    text-align: center;
  }
  .mobile-nav li .wsite-menu-link-styles {
    position: relative;
    padding: 10px 0;
    border: none;
  }
  .mobile-nav li>a.wsite-menu-item {
    position: relative;
    padding: 10px 0;
    border: none;
  }
  .mobile-nav li>a.wsite-menu-subitem {
    display: block;
    position: relative;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .mobile-nav li .wsite-menu-wrap {
    display: block !important;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 500ms ease-in-out 250ms;
    -moz-transition: all 500ms ease-in-out 250ms;
    -ms-transition: all 500ms ease-in-out 250ms;
    transition: all 500ms ease-in-out 250ms;
  }
  .mobile-nav li .wsite-menu-wrap li.wsite-nav-current>a.wsite-menu-subitem {
    background: rgba(0, 0, 0, 0.05);
    border: none;
  }
  .mobile-nav li.wsite-menu-item-wrap#active>a.wsite-menu-item,
  .mobile-nav li.wsite-menu-item-wrap>a.wsite-menu-item:hover,
  .mobile-nav li.wsite-menu-subitem-wrap>a.wsite-menu-subitem:hover {
    background: rgba(0, 0, 0, 0.05);
    border: none;
  }
  .mobile-nav li.has-submenu>span.icon-caret {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px 20px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .mobile-nav li.has-submenu>span.icon-caret:before {
    position: relative;
    display: block;
    color: #000000;
    font-size: 24px;
    content: '\203A';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .mobile-nav li.has-submenu .wsite-menu-wrap.open {
    max-height: 1000px;
  }
  .mobile-nav li.wsite-nav-more {
    display: none !important;
  }
  .banner-wrap .container {
    padding: 60px 20px;
    word-wrap: break-word;
  }
  .banner-wrap .container h2 {
    font-size: 50px;
  }
  main .container {
    padding: 30px 20px;
  }
  .footer-wrap .wsite-footer {
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
  }
  .splash-page .birdseye-header {
    padding: 5px 20px;
  }
  .splash-page label.hamburger {
    right: 20px;
    top: 10px;
  }
  .splash-page h2 {
    font-size: 2.5em;
  }
  .splash-page div.paragraph {
    font-size: 16px;
  }
  .splash-page p {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  figure,
  #headshot,
  #warrior-strong,
  #mask-wearing,
  #cso-flyer,
  #lesson-video {
    width: 100%;
  }
  .half-column {
    flex: 100%;
  }
  .columns {
    flex-wrap: wrap;
  }
  .grid-two-columns {
    grid-template-columns: 1fr;
  }
  font[size="1"] {
    font-size: 50% !important;
  }
  font[size="2"] {
    font-size: 75% !important;
  }
  font[size="3"] {
    font-size: 110% !important;
  }
  font[size="4"] {
    font-size: 120% !important;
  }
  font[size="5"] {
    font-size: 130% !important;
  }
  font[size="6"] {
    font-size: 140% !important;
  }
  font[size="7"] {
    font-size: 150% !important;
  }
  .wsite-section {
    height: auto !important;
  }
  .banner-wrap .banner h2 {
    font-size: 2.5em;
  }
  td.wsite-multicol-col {
    float: none;
    display: block;
    width: 100% !important;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  #wsite-com-checkout-list .wsite-com-checkout-item-image,
  #wsite-com-checkout-summary-list .wsite-com-checkout-item-image {
    display: none;
  }
  #wsite-com-checkout-list tbody td:first-child,
  #wsite-com-checkout-summary-list tbody td:first-child {
    width: 0;
    padding: 0;
  }
  #wsite-com-checkout-list .wsite-com-checkout-item-details-inner,
  #wsite-com-checkout-summary-list .wsite-com-checkout-item-details-inner {
    padding-left: 0;
  }
}

div.paragraph ul,
div.paragraph ol {
  padding-left: 3em !important;
  margin: 5px 0 !important;
}

div.paragraph li {
  padding-left: 5px !important;
  margin: 3px 0 0 !important;
}

div.paragraph ul,
div.paragraph ul li {
  list-style: disc outside !important;
}

div.paragraph ol,
div.paragraph ol li {
  list-style: decimal outside !important;
}